# generc file-types
**.so
**.o
**.o.cmd
**.swp
**.sym
**.ver
**.tmp

# generic files
**/.tmp_versions/
config.mk
src/lcrest

# debian pkgbuild files
debian/.debhelper/
debian/files
debian/*.log
debian/*.substvars
debian/linuxcnc-rest/
